@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap');
body{
    background-color: black;
    margin-left: 30px;
}
h1 {
    color: white;
    
}
h2 {
    color: white;
    font-family: arial;
    
}
h3 {
    color: white;
    font-family: arial;
}
p {
    color: white;
    
   
}
li {
    color: white
    
}
div {
    color: white;
}

#titolo {
    font-family: Comfortaa;
    color: white;
    margin-top: 60px;
    
    
}
#wel-come {
    font-family: Comfortaa;
    margin-top: -10px;
    font-size: large;
    
    
    
     
    
}
#contact-me {
    font-family: Quicksand;
    margin-top: 90px;
    text-align: center;
}
#li1 {
    font-family: Quicksand;
    color:white;
    margin-bottom: 10;
}
#li2 {
    font-family: Quicksand;
    color:white;
    margin-bottom: 10;
}
#li3 {
    font-family: Quicksand;
    color: white;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px; 
  }

a {
    color: white;
    font-family: arial;
}
#about-me {
    font-family: Quicksand;
    color: greenyellow;
    text-align: right;
    margin-right: 100;
}
#about-me-text {
    text-align: right;
    font-family: Quicksand;
    margin-left: 500;
    margin-right: 100;
    
    
}
#elenco {
    margin: 30;
}

a {
    color: red;
    text-decoration: none;
    transition: color 0.3s;
    font-family: Comfortaa;

    
}
a:hover {
    color: greenyellow;
}
#forr {
    font-family: Comfortaa;
}
