
* {
    margin: 0;
    padding: 0;
    font-family: Comfortaa, sans-serif;
    box-sizing: border-box;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    color: #fff;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}
body {
    background: #191b20;
    color: #fff;
}
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.Logo {
    font-size: 2.5rem;
    color: greenyellow;
    text-decoration: none;
    font-weight: 1000;
    cursor: pointer;
    font-family: sans-serif;
}
.navbar a {
    text-decoration: none;
    font-weight: 500;
    display: inline-block;
    margin-left: 4rem;
    font-size: 1.7rem;
    transition: 0.7s;

}
.for-one{
    min-height: 100vh;
    padding: 10rem 9% 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.07;
    font-size: 150px;
    font-family: sans-serif;
}
.navbar a:hover {
    color: greenyellow;
    transition: 0.3s;
    font-size: 2rem;
}

.text-overlay {
    position: absolute;
    color: #fff;
    font-size: 24px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 1;
    font-family: sans-serif;
}
section {
    position: relative;
}
.text-contact-me {
    font-size: 100px;
    font-family: sans-serif;
}
.text-my-projects {
    font-size: 100px;
    text-align: right;
    font-family: sans-serif;
}
#a-contact-me {
    color: greenyellow;
    text-decoration: underline;
    font-family: sans-serif;
    
}
#a-contact-me:hover {
    text-decoration: none;
    transition: 0.3s;
    font-family: sans-serif;
}
#a-github {
    color: greenyellow;
    text-decoration: line-through;
    font-family: sans-serif;
}
#a-github:hover {
    text-decoration: none;
}
.here-home {
    color: greenyellow;
    font-size: 100px;
    font-family: sans-serif;
}
.text-home {
    font-size: 80px;
    font-family: sans-serif;
}
.text-about {
    font-size: 4rem;
    font-family: sans-serif;
    position: absolute;
    color: #fff;
    top: 50%;
    left: 40%;
    right: 10%;
    transform: translate(-50%,-50%);
    z-index: 1;
    font-family: sans-serif;
}
#copy {
    position: fixed;
    margin-top: 420px;
    top: 50%;
    left: 50%;
    font-size: 20px; 
}
.discord_id {
    margin-top: 300px;
    position: absolute;
    font-size: 2rem;
    left: 80%;
}
#discord-ref {
    color: greenyellow;
    text-decoration: line-through;
}